@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB 
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    display: flex;
    align-items: center;
    gap: 24px;
}
