@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB 
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 100px 200px;
}
.left {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.hero-title {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #F9FAF8;
}
.hero-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #E5E7EB;
}
#hero-img {
    height: 250px;
}
.sign-up-btn {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    text-align: center;
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
    max-width: 128px;
    max-height: 40px;
}

.info-title {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #1F2937;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
}
.info-images {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 48px;
}
.info-image {
    width: 150px;
}
.info-frame {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 20px;
}
.info-description {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: lightslategrey;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 350px;
}
.quote-content {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.quote-source {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: flex-end;
}

.sign-up {
    padding: 80px 200px;
}
.sign-up-content {
    background-color: #3882F6;
    height: 150px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-up-left {
    flex: auto;
    padding: 0 0 0 70px;
}
.sign-up-title {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F9FAF8;
}
.sign-up-text {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #E5E7EB;
}
.sign-up-right {
    flex: auto;
    display: flex;
    align-items: center;
}
.sign-up-btn.white-border {
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
}